<mat-toolbar class="mat-white mat-toolbar-single-row">
  <!-- Left-Aligned Menu Button -->
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  
  <!-- Spacer to push content to the right -->
  <span class="spacer"></span>

  <!-- Title (centered or left-aligned) -->
  <span>My Application</span>


  <!-- Right-Aligned Icons -->
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
