<mat-toolbar class="mat-white mat-toolbar-single-row">
  <!-- Left-Aligned Menu Button -->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Theme Toggle Button -->
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
  </button>

  <!-- Spacer to push content to the right -->
  <span class="spacer"></span>

  <!-- Title -->
  <span>My Application</span>

  <!-- Right-Aligned Icons -->
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>

  <!-- Logout Button -->
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
