<mat-sidenav-container class="h-screen">
  <!-- Sidebar (Sidenav) -->
  <mat-sidenav #sidenav mode="side" opened class="w-60 bg-gray-800 text-white">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <!-- Main Content Area -->
  <mat-sidenav-content class="flex flex-col h-screen">
    <app-header [sidenav]="sidenav" ></app-header>
    <!-- Main Content -->
    <div class="flex-grow p-4 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
