.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 250px;
  }
  mat-nav-list a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    margin-right: 10px;
  }


/* Remove highlight from master when inactive */
mat-expansion-panel {
  background-color: transparent !important; /* Remove background */
  box-shadow: none !important;
}

mat-expansion-panel-header.mat-expanded {
  background-color: transparent !important;
  color: inherit !important;
}
  