
@tailwind base;
@tailwind components;
@tailwind utilities;

/* toaster-styles.css */
::ng-deep .mat-snack-bar-container.success-snackbar {
    background-color: #388e3c !important; /* Dark green */
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 200, 0, 0.5);
  }
  
  ::ng-deep .mat-snack-bar-container.success-snackbar:hover {
    background-color: #4caf50 !important; /* Lighter green on hover */
    box-shadow: 0 3px 15px rgba(0, 255, 0, 0.6);
  }

  .customClass{
    color: red;
  }
  
 


  