.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 280px;
    background-color: #f8f9fa;
  }
  
  mat-nav-list a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  